body {
}

#site {
    margin: auto;
    width: 80%;
    background-color: goldenrod;
}

#titlebar {
    background: black;
}

.pytanie{
  display: block;
          margin-left: auto;
    margin-right: auto;

}


#ankieta{

    padding: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}



.pytanieLabel {
        margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

.pytanieImage {
    height: 300px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#header {
    text-align: center;
    color: white;
    font-size: 2em;
    height: 70px;
    padding-top: 20px;
}


#menu {
    color: white;
    margin: auto;
    width: 60%;
    padding-bottom: 10px;
}


.menu ul li {
    display: compact;
    background-color: black;
    margin-top: 3px;
}

.menu a {
    color: white;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

    .menu a.selected {
        font-weight: bold;
        background-color: red;
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu a:hover {
        font-weight: bold;
    }



#content {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

    #content::after {
        content: '';
        display: block;
        clear: both;
    }

#page_content {
    margin: 10px;
}

#footer {
    text-align: center;
    font-size: 1.5em;
    background-color: black;
    color: white;
}

#gridview {
    float: left;
}

#detailsview {
    margin-left: 20px;
    float: left;
}

#details {
    color: black;
    margin-bottom: 10px;
}

.DvdDetails {
    border-style: none;
    background-color: white;
}




.AlbumGrid {
    width: 400px;
}



.podsumowanieButton{

     Width: 200px;
     Height: 30px;

}